.grid1 {
  //   background: blue;
  border: 1px solid black;
  padding: 12px;
  color: black;
  font-weight: bold;
}
.grid2 {
  //   background: red;
  border: 1px solid black;
  padding: 12px;
  color: black;
  font-weight: bold;
}
.grid3 {
  //   background: yellow;
  border: 1px solid black;
  padding: 12px;
  color: black;
  font-weight: bold;
}
.grid4 {
  //   background: orange;
  border: 1px solid black;
  padding: 12px;
  color: black;
  font-weight: bold;
}

.wrapper {
  border: 1px solid black;
}

.content {
  border: 1px solid black;
  padding: 12px;
  color: black;
}
